.header
  .header__left
    .headerInfo
      .headerInfo__name
        = current_user.name
      .headerInfo__symbol
        = link_to new_group_path,class:"headerInfo__symbol--edit" do
          = icon("fas","user-edit")
        = link_to = link_to edit_user_path(current_user) ,class:"headerInfo__symbol--cog" do
          = icon('fas',"user-cog")
  .header__right
    .topic
      =link_to root_path,class:"topic__list" do
        top
      =link_to tweets_path,class:"topic__list" do
        tweet
      =link_to groups_path,class:"topic__list" do
        chat