.mainChat
  .chat-top
    .chat-top__info
      .chat-top__info--groupName
        =@group.name
      =link_to edit_group_path(@group), class:"chat-top__info--edit" do
        edit

  .chat-main
    = render @comments

  .chat-bottom
    = form_with model:[@group, @comment], html:{class:'form'}, local: true do |f|
      .formText
        = f.text_field :text,class:'formText__text',placeholder:'type a message'
        =f.label :image,class: "formText__image" do
          = icon('fas','image')
          = f.file_field :image
      .formSubmit
        =f.submit 'Send',class:'formSubmit__btn',value:"送信"