.subHeader
  =link_to new_tweet_path do
    %p 新規投稿
.tweetContents
  .tweetContent
    - @tweet.each do |tweet|
      .contentPost{style:"background-image: url(#{tweet.image});"}
        .more
          %ul.more__list
            %li
              = link_to '詳細',tweet_path(tweet.id),method: :get
              -if user_signed_in? && current_user.id == tweet.user_id
                = link_to '編集',edit_tweet_path(tweet.id),method: :get
                = link_to '削除',"/tweets/#{tweet.id}",method: :delete            
        %p= tweet.tweet
        %span.contentPost__name
          = tweet.user.name
